/* General */

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 3rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  color: #8f8f8f;
  font-weight: 500;
}

/* Nav Bar */

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 5% 15%;
}

.navbar {
  padding-bottom: 6.25rem; 
}

.nav-item {
  padding: 0 18px;
}

.nav-link{
  font-size: 1.25rem;
  font-weight: 500;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.125rem;
  font-weight: 500;
}

/* Title  */

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone-image {
  
  right: 28%;
  transform: rotate(25deg);
  width: 60%;
}

/* Features  */

#features {
  padding: 7% 10%;
}

.features-sec {
  text-align: center;
  padding: 4.5%;
}


.features-icon {
  color: #ef8172;
  padding-bottom: 10%;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #EF8172;
  color: #fff;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin-right: 3%;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #EF8172;
  padding-bottom: 1%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 0 15px 20px;
}

/* Pricing */

#pricing {
  padding: 7% 15%;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-p {
  color: #8f8f8f;
  font-size: 1.25rem;
  font-weight: 300;
}

.p-pricing-1 {
  padding-bottom: 40px;
}

.p-pricing-2 {
  padding-bottom: 40px;
}


/* Call to Action */

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.download-button-cta {
  margin: 10% 2%
}

.h3-cta {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}


/* Footer */

#footer {
  text-align: center;
}

.footer-icon {
  color: #000;
  margin: 10px 10px 30px;
}

.footer-icon:hover{
  color: #EF8172;
}

#footer p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}